NEXT_PUBLIC_VERSION=1.2.1
VERSION=1.2.1

# API URL is mandatory
API_URL=https://api-croustillant.bayfield.dev/v1

# API Key is optional, necessary for the production environment to bypass the rate limit
API_KEY=

# Web URL is optional, necessary for the production environment to redirect to display images in the meta tags
WEB_URL=https://croustillant.bayfield.dev

# Umami Analytics
UMAMI_API_USERNAME=
UMAMI_API_PASSWORD=
UMAMI_API_URL=
UMAMI_WEBSITE_ID=
UMAMI_HOSTNAME=
